{% extends 'base.html' %}

{% block title %}
    Detalle de Promoción
{% endblock %}

{% block content %}
    {% load static %}
    <div class="container mt-5 mb-5">
        <h1 class="text-center mb-5">Previsualización de la Promoción</h1>
        <h2 class="text-center">{{ promocion.nombre_promocion }}</h2>
        <div class="text-center mt-4">
            {% if promocion.imagen_promocion %}
                <img src="{% static promocion.imagen_promocion %}" alt="Imagen de la promoción" class="img-fluid" style="max-width: 1000px; height: auto;">
            {% else %}
                <img src="{% static 'assets/promocion_generica.jpg' %}" alt="Imagen por defecto" class="img-fluid" style="max-width: 1000px; height: auto;">
            {% endif %}
        </div>
        <div class="mt-4">
            <div class="text-center mt-4 mb-4 p-3 rounded border">
                <p><strong>{{ promocion.porc_descuento }}% de descuento</strong> en el <strong>{{ promocion.hotel.nombre_hotel }}</strong> en todas las habitaciones <strong>{{ promocion.tipo_habitacion.nombre_tipo_habitacion }}</strong></p>
                <p><strong>Duración:</strong> Desde el <strong>{{ promocion.fecha_inicio }}</strong> al <strong>{{ promocion.fecha_fin }}</strong></p>
                <p>{{ promocion.desc_promocion }}</p>
            </div>
        </div>
        {% if user.rol == 'M' %}
            <div class="mt-4 mb-4 p-3 rounded border">
                <h4>Detalles Administrativos</h4>
                <p><strong>Publicada por:</strong> {{ promocion.publicada_por.username }}</p>
                <p><strong>Estado de la promoción:</strong> {{ promocion.get_estado_promocion_display }}</p>
                <p><strong>Comentario:</strong> {{ promocion.comentario }}</p>
                <p><strong>Fecha de revisión:</strong> {{ promocion.fecha_revision }}</p>
                <p><strong>Revisada por:</strong> {{ promocion.revisada_por.username }}</p>
            </div>
        {% elif user.rol == 'G' %}
            <form class="form_aprobarRechazar" method="post" action="{% url 'apruebo_o_rechazo' promocion.codigo_promocion %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="aprobar" class="btn btn-success btn_aprobar">Aprobar</button>
                <button type="submit" name="rechazar" class="btn btn-danger btn_rechazar">Rechazar</button>
            </form>
        {% endif %}
        <a type="button" class="btn btn-warning mt-3" href="{% url 'admin_portal' %}">Volver</a>
    </div>
{% endblock %}

{% block footer %}
    {% load static %}
    <script src="{% static 'js/aprobar_rechazar.js' %}"></script>
{% endblock %}