{% extends 'base.html' %}

{% block title %}
    Veranum
{% endblock %}

{% block content %}
    {% load static %}
    <main>
        <div class="container">
            <div class="search-bar-horizontal">
                <h1 class="logo">Habitaciones</h1>
            </div>
            <section class="main-content image-sections">
                <div class="container text-center">
                    <div class="row row-cols-2 g-4">
                        <!--card-->
                        {% for i in tipo_habitaciones %}
                            <div class="card mx-2" style="width: 33.5rem;">
                                <img src="{% static i.imagen_tipo_habitacion %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text"><strong>{{ i.nombre_tipo_habitacion }}</strong></p>
                                    <p class="card-text">{{ i.desc_tipo_habitacion }}</p>
                                    <p class="card-text">Cantidad de camas: {{ i.cant_camas }}</p>
                                    {% if i.bano_privado %}
                                        <p class="card-text">Baño privado: Sí</p>
                                    {% else %}
                                        <p class="card-text">Baño privado: No</p>
                                    {% endif %}
                                    <p class="card-text">Valor por noche: ${{ i.precio_noche }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block footer %}
    {% load static %}
    <script src=""></script>
{% endblock %}